
.register_page {
    max-width: 700px;
    margin: 50px auto;
    padding-top: 30px;
    text-align: center;
}

.register__page-title h1 {
    color: #5b3838;
}

.error_message {
    font-size: 15px;
    color: #ff8b8b;
}

label {
    display: block;
    width: 50%;
    margin: 0 auto 6px;
    text-align: left;
    font-size: 17px;
    color: #5b3838;
    font-weight: bold;
}

input {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
}

.register__button {
    padding-top: 30px;
    padding-bottom: 30px;
}

button {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 5px 5px;
    background-color: #ff8b8b;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

a {
    font-size: 17px;
    color: #5b3838;
    text-decoration: none;
}
